/Entornos/Coche/build/
/Programacion/Unidad5/dist/
/Unidad6/nbproject/private/
/Unidad6/build/
/BotWp/nbproject/private/
/Programacion/Unidad6/nbproject/private/
/Programacion/Unidad6/build/
/Programacion/Tarea_u6/nbproject/private/
/Programacion/Tarea_u6/dist/
/Programacion/Pennino_Matias_Agustin_UD4_2/nbproject/private/
/Programacion/Pennino_Matias_Agustin_UD4_2/build/
/Entornos/huevo_sorpresa_Pennino_Matias/HuevoSorpresa_Pennino_Matias/build/
/Programacion/Pennino_Matias_Agustin_UD05/nbproject/private/
/Programacion/Pennino_Matias_Agustin_UD05/build/
/Programacion/actividades_practicar/nbproject/private/
/Programacion/PROG07_Tarea_2021_22_Alumnado/nbproject/private/
/Programacion/Unidad8/nbproject/private/
/Programacion/Unidad8/build/
/Programacion/Ejercicio1Unidad8/nbproject/private/
/Programacion/Ejercicio1Unidad8/build/
/Programacion/EjerciciosUnidad8/build/
/Programacion/EjerciciosUnidad8/nbproject/private/
/Programacion/Actividad433PenninoMatias2324/nbproject/private/
/Programacion/Tarea7_Pennino_Matias/nbproject/private/
/Programacion/Tarea7_Pennino_Matias/build/
/Programacion/PROG07TareaAlumnado/nbproject/private/
/Programacion/PROG07TareaAlumnado/build/
/Programacion/PROG07Tarea/build/
/Entornos/Coche_Pennino_Matias/dist/
