/Entornos/Coche/build/
/Programacion/Unidad5/dist/
/Unidad6/nbproject/private/
/Unidad6/build/
/BotWp/nbproject/private/
/Programacion/Unidad6/nbproject/private/
/Programacion/Unidad6/build/
/Programacion/Tarea_u6/nbproject/private/
/Programacion/Tarea_u6/dist/
/Programacion/Pennino_Matias_Agustin_UD4_2/nbproject/private/
/Programacion/Pennino_Matias_Agustin_UD4_2/build/
/Entornos/huevo_sorpresa_Pennino_Matias/HuevoSorpresa_Pennino_Matias/build/
/Programacion/Pennino_Matias_Agustin_UD05/nbproject/private/
/Programacion/Pennino_Matias_Agustin_UD05/build/
